<!DOCTYPE html>
<html lang="en">

<head>
	<title>TinyApp</title>
</head>

<body>

	<% include ./partials/_header.ejs  %>

	<div> Enter your email and password </div>
	<div>
		<form method="POST" action="/login" style="margin:150px;">
			<label for="Email"> Email</label>
			<input id="Email" type="text" name="email" placeholder="" style="width: 300px">
			</input type="submit" value="Submit">
			<br>
			<br>
			<label for="Password"> Password </label>
			<input id="password---" type="password" name="password" placeholder="" style="width: 300px">
			</input type="submit" value="Submit">
			<button type="submit"> Submit </button>
		</form>
	</div>

</body>