<!-- Page to submit URLs to be shortened
     The form submitted will make a POST request:
     in the body of this request, input = "longURL" with URL-encoded
     ex: longURL =http2d54f5ssc ----------------------------------->


<% include partials/_header %>

<body>
  <form action="/urls" method="POST" style="margin:150px;">
    <label for="longUrl"> Enter a URL: </label>
    <input id="longUrl" type="text" name="longUrl" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
</body>

</html>