<!--Template file:  receiving the data it needs to display---------->

<% include ./partials/_header.ejs  %>

<body>
    <% if (user) { %>
     <ul>
        <% for (var urlKey in urls) { %>
            <li>
              <%= urlKey  %>
              <%= urls[urlKey] %>
                <form method="POST" action="/urls/<%= urlKey %>/delete">
                    <a href='/urls/<%= urlKey  %>'> Edit </a>
                    <button type="submit"> Delete me!</button>
                </form>
            </li>
        <% };%>
    </ul>
    <% } else { %>
    <a href= '/urls/new'> Create new url </a>
    <% } %>    
</body>

</html>

